@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Roboto:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    max-height: 7rem;
    background: linear-gradient(180deg, #5B48D5 100.54%, rgba(91, 72, 213, 0) 85.42%);
    position: relative;
}

.logout{
    position: absolute;
}

.logout img {
    width: 1.2rem;
}

.logout__Text {
    position: absolute;
    margin-top: .2rem;
    font-size: 1rem;
}

.logo {
    margin-right: auto;
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-flex;
    padding: 0px 20px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}

.nav__links li a:hover {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

button {
    margin-left: 20px;
    padding: 5px 35px;
    box-shadow: 0 7px 5px 0px rgb(0 0 0 / 25%);

    background: #5B48D4;
    color: #edf0f1;
    border: 2px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

button:hover {
    background-color: rgba(37, 0, 169, 0.8);
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: auto;
    height: auto;
    display: flex;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    width: 30rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

.form__header {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.form__header h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #5B48D4;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0.1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.05rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00001c;
}

.input-box input:hover {
    background-color: #edf0f1;
}

.input-box input:focus-visible {
    outline: 1px solid #5B48D4;
}

.input-box label, .gender-title {
    font-size: 0.75rem;
    font-weight: 600;
    color: #00001c;
}

.input-box input::placeholder {
    color: #000000be;
    font-size: 0.7rem;
    font-weight: 400;
}

.gender-group {
    margin-top: 1rem;
    padding: 0 0.5rem;

    display: flex;
    justify-content: space-between;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-left: 2.5rem;
}

.gender-input label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #00001c;
}

.button-continue {
    margin-top: 2.5rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {

    header {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: stretch;
    }

    .form-image {
        display: none;
    }

    .main__container {
        width: 100%;
        height: auto;
    }

    .form {
        width: 100%;
        height: 100%;
    }

    .gender-group {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 300px) and (max-width: 640px) {

    body {
        width: 100%;
        height: auto;
    }

    header {
        max-height: 16.5rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: center;
    }
    
    .logo {
        margin: 0 auto;
    }

    img {
        width: 200px;
    }

    .nav__links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .login{
        display: none;
    }

    .main__container {
        width: 100%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 1rem;
    }

    .gender-input {
        margin-top: 1rem;
    }
    
    .gender-input input {
        margin-left: 2.5rem;
    }

    .gender-group {
        width: 85%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

}

@media (min-width: 560px) and (max-width: 1024px) {

    body {
        width: 100%;
        height: auto;
    }

    .main__container {
        margin-top: 0.5rem;
    }
}